* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4c531;
    color: #000;
}

.container-div {
    width: 90%;
    background-color: #ffffff;
    max-width: 31.25em;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    padding: 5em 3em;
    border-radius: 0.5em;
}

.container-div h3 {
    font-size: 1.2em;
    text-align: center;
    color: #23234c;
    font-weight: 500;
    line-height: 1.8em;
}

.container-div #submit-btn {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #f4c531;
    border: none;
    border-radius: 0.3em;
    outline: none;
    cursor: pointer;
    color: #23234c;
    padding: 0.6em 2em;
}

#question {
    background-color: #eeedf1;
    font-size: 2em;
    font-weight: 600;
    color: #23234c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4em 0 1em 0;
    padding: 0.1em 0.5em;
}

.container-div input {
    font-weight: 600;
    width: 2.35em;
    color: #23234c;
    text-align: center;
    font-size: 1em;
    padding: 0 0.2em;
    border: none;
    background-color: transparent;
    border-bottom: 0.12em solid #23234c;
    margin: 0 0.25em;
}

.container-div input:focus {
    border-color: #f4c531;
    outline: none;
}

#error-msg {
    text-align: center;
    margin-top: 1em;
    border-radius: 0.3em;
    background-color: #ffdde0;
    color: #d62f2f;
    padding: 0.2em 0;
}

/* Hide NUmber Arrows */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #f4c531;
} 
#start-btn {
    font-size: 1.2em;
    font-weight: 500;
    color: #23234c;
    border: none;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
    padding: 0.8em 1.8em;
    border-radius: 0.3em;
}
#result {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #23234c;
}
#result span {
    font-weight: 600;
}
.hide {
    display: none;
}